{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Торговые павильоны</title>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://css.gg/css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}">
    

    
    

</head>
<body>


    {% block main_header %}
    <div class="main__header__block">
        {% include './header.html' %}
    </div>
    {% endblock main_header %}

    <div class="main__site__wrapper">
        {% block content %}

        {% endblock content %}
    </div>

    {% block main_footer %}
        {% include './footer.html' %}
    {% endblock main_footer %}

    {% include './blocks/popup_form.html' %}

    
    <script src="{% static 'slick/slick.js' %}"></script>

</body>
</html>