{% extends './base.html' %}

{% block content %}
    {% include './blocks/main_slider.html' %}

    {% include './blocks/margin_30.html' %}

    {% include './blocks/cost_1.html' %}

    {% include './blocks/category_blocks.html' %}

    {% include './blocks/item_slider.html' %}

    {% include './blocks/about_us.html' %}

    {% include './blocks/margin_30.html' %}

    {% include './blocks/cost_2.html' %}

    {% include './blocks/comments.html' %}

    {% include './blocks/dignity.html' %}

    {% include './blocks/contact.html' %}
    
{% endblock content %}