{% load static %}
<div class="about__us__wrapper">


{% comment %} <div class="about__us__image__back">
    <img src="{% static 'images/make_order_back.jpeg' %}" alt="">
</div> {% endcomment %}

 <div class="category__blocks__title" id="aboutus">
    <span style="color:black; background: rgb(255,255,255, 0.7);">
    О Нас
    </span>
</div>

<div class="about__container">
    Маф-Строй 
     - это большая команда высококлассных специалистов с более чем 10-летним опытом, готовых воплотить Вашу мечту в реальность! 
     <p>
     Мы предоставляем полный спектр услуг, начиная с подбора необходимой именно Вам конструкции , подготовкой  макета или проекта и заканчивая созданием МАФа и доставкой на место! 
     </p>
     <p>
     Заказ материалов осуществляется напрямую от заводов-изготовителей, что даёт возможность  значительно снизить себестоимость готовой продукции! Более 200 выполненных объектов различной сложности, клиенты по всей стране и за рубежом. 
     </p>
     Наши услуги позволяют в малые сроки открыть своё дело, построить собственный дом или просто реализовать любую, даже самую необычную идею!  Это основа для светлого будущего, построенная вручную. 
     
</div>




</div>
