<div class="about__us__wrapper">


 <div class="category__blocks__title" id="aboutus">
    <span>
    О Нас
    </span>
</div>
<div class="about__container">
   
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies leo integer malesuada nunc vel risus commodo viverra. Eget lorem dolor sed viverra ipsum nunc aliquet. Id cursus metus aliquam eleifend mi in nulla. Nunc sed id semper risus. Vivamus at augue eget arcu dictum varius duis. Mus mauris vitae ultricies leo integer malesuada nunc vel. Donec et odio pellentesque diam volutpat. Mi sit amet mauris commodo quis imperdiet massa tincidunt. Velit dignissim sodales ut eu. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
</div>

</div>