<div class="comments__container">

<div class="category__blocks__title">
    <span>
    Отзывы клиентов
    </span>
</div>

<div class="comments__cards">
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="https://placehold.it/700x700" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    Имя Фамилия 
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    28 лет (или должность)
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Magna ac placerat vestibulum lectus mauris. Ante metus dictum at tempor commodo ullamcorper. At auctor urna nunc id cursus metus aliquam eleifend mi. Sit amet massa vitae tortor condimentum. Bibendum neque egestas congue quisque egestas. Pretium aenean pharetra magna ac placerat vestibulum. 
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="https://placehold.it/700x700" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    Имя Фамилия 
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    28 лет (или должность)
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Magna ac placerat vestibulum lectus mauris. Ante metus dictum at tempor commodo ullamcorper. At auctor urna nunc id cursus metus aliquam eleifend mi. Sit amet massa vitae tortor condimentum. Bibendum neque egestas congue quisque egestas. Pretium aenean pharetra magna ac placerat vestibulum. 
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="https://placehold.it/700x700" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    Имя Фамилия 
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    28 лет (или должность)
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Magna ac placerat vestibulum lectus mauris. Ante metus dictum at tempor commodo ullamcorper. At auctor urna nunc id cursus metus aliquam eleifend mi. Sit amet massa vitae tortor condimentum. Bibendum neque egestas congue quisque egestas. Pretium aenean pharetra magna ac placerat vestibulum. 
                </span>
            </div>
        </div>
    </div>
</div>

<div class="inline__arrows">
<span class="arrow__main"
id="comments_left">
    <i class="gg-chevron-left"></i>
</span>
<span class="arrow__main"
id="comments_right">
    <i class="gg-chevron-right"></i>
</span>
</div>

</div>
