
<div class="dignity__wrap">
<div class="category__blocks__title">
    <span>
    Наши преимущества
    </span>
</div>
    <div class="dignity__container">
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                Цена известна заранее.
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Она фиксирована. 
                    Мы составляем план и коммерческое предложение, 
                    исходя из всех Ваших пожеланий.
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    Техническое задание
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Может быть полностью Вашим или доработано после
                     консультации наших специалистов.
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    Каркас
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Каркас модуля производится из Металлокаркаса, 
                    полностью прокрашенного и прогрунтованного.
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    Качественные материалы
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Для производства модулей используем 
                    сертифицированные материалы.
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    Специалисты своего дела
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Мы за разделение труда. Над каждым проектом 
                    работают специалисты узкого профиля.
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    Любой вид оплаты
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    Наличный либо безналичный расчёт, с НДС, без НДС
                </span>
            </span>
        </div>
        
    </div>
</div>