<div class="gotop_container">
	<a
	href="#main_site_content"
	>
	<svg width="40" height="40" 
	xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
	aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
		  <path data-name="layer1"
		    fill="none" stroke="white" stroke-miterlimit="10" stroke-width="5" d="M20 40l11.994-14L44 40"
			  stroke-linejoin="round" stroke-linecap="round"></path>
	 </svg>
	</a>
</div>


<style>
html {
	scroll-behavior: smooth;
}
.gotop_container {
	border-radius: 4px;
	position: fixed;
	z-index: 1000;
	right: 2%;
	bottom: 5%;
	background-color: blue;
	padding: 4px;
}
</style>
