{% load static %}

<div class="page__main__slider">
    <div class="main__slider__item">
        <img src="{% static 'images/slider1.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider2.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider3.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider4.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider5.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider6.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider7.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider8.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider9.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider10.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider11.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider12.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider13.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider14.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider15.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider16.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider17.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider18.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider19.png' %}" alt="">
    </div>
    
</div>

<span class="prev">
    <i class="gg-chevron-left"></i>
</span>
<span class="next">
    <i class="gg-chevron-right"></i>
</span>
   