{% load static %}

<div class="page__main__slider">
    <div class="main__slider__item">
        <img src="{% static 'images/slider1.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider2.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider3.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider4.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider5.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider6.jpeg' %}" alt="">
    </div>
    
</div>

<span class="prev">
    <i class="gg-chevron-left"></i>
</span>
<span class="next">
    <i class="gg-chevron-right"></i>
</span>
   