{% load static %}

<div class="page__main__slider">
    <div class="main__slider__item">
        <img src="{% static 'images/slider1.png' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider2.jpg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider3.jpg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider4.jpg' %}" alt="">
    </div>
</div>

<span class="prev">
    <i class="gg-chevron-left"></i>
</span>
<span class="next">
    <i class="gg-chevron-right"></i>
</span>
   